@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--main-color: #0f5c56;
	--dark-main-color: rgb(7, 51, 47);
	--break-color: #7d7d7c;
	--medium-light-color: #e2e8f0;
	--darkest-light-color: #bfc0c0;
	--accent-color: rgb(245, 203, 92);
	--nav-main-color: rgba(15, 92, 85, 0.8);
	--nav-break-color: rgba(125, 125, 124, 0.9);
	--nav-accent-color: rgba(245, 203, 92, 0.9);
	--alert-color: rgb(165, 21, 21);
	--black-color: rgb(0, 0, 0);
	--form-bgc: rgb(238, 238, 238);
	--cta-bgc: rgb(244, 244, 242);

	/* scroll-behavior: smooth; */
}
::selection {
	color: var(--medium-light-color);
	background: var(--main-color);
}

@font-face {
	font-family: 'AvenirLight';
	src: url('/fonts/AvenirLTProLight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: 'AvenirHeavy';
	src: url('/fonts/AvenirLTProBlack.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
  }
  

body {
	@apply font-paragraphs;
	transition-property: opacity, background-color, transform, filter;
	transition-timing-function: ease-in-out;
	transition-duration: 500ms;
	/* background-color: black; */
	/* color: white; */
}

body p {
	color: var(--break-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-headers;
}
.offerbackground{
	background-color: black;
	transition-property: opacity, background-color, transform, filter;
	transition-timing-function: ease-in-out;
	transition-duration: 500ms;
}

.backgroundwrapper{
	background-color: black;
	transition-property: opacity, background-color, transform, filter;
	transition-timing-function: ease-in-out;
	transition-duration: 500ms;
}

.page-transition {
	opacity: 0;
	background-color: black;
	transform: translateY(40px);
	filter: blur(12px);
}
.light-section {
	background-color: white;
}

